 Created by https://www.gitignore.io/api/windows

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.gitignore.io/api/windows

*.pdb
*.pdb.meta
*.mdb
*.mdb.meta

*.db
*.opendb
*.log

*.csproj
*.sln

*.exp

*.dmp

PointCloud/*

Gradle/*
gradle-6.7.1-bin/*

/**/__pycache__/*
/**/dev/bin/*
/**/.vs/*
/**/ipch/*
/**/obj/*

/**/Temp/*
/**/Library/*
/**/Debug/*
/**/Release/*
/**/Build/*
/**/Build_Android/*

SPRF_ExportEx/Assets/SPRF/*